@import '../../style/color';

/*打卡*/
.header{
    padding: 10px;
    margin: 1px 0 0 0;
    text-align: center;
    background-color: #fff;
    border-bottom: 1rpx solid #eee;
}
.header-circle{
    position: relative;
    margin: 0 auto;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 2.2rem;
    // border: 5px solid transparent;
    box-sizing: border-box;
    background-color: #eee;
    .icon-s{
        margin: 13px auto 0;
    }
    &:hover{
        background-color: #ddd;
    }
    &.header-circle_ed{
        background-color: $color-green;
    }
}