/*打卡*/
.header{
    padding: 10px;
    margin: 1px 0 0 0;
    text-align: center;
    background-color: #fff;
    border-bottom: 1rpx solid #eee;
}
.header-circle{
    position: relative;
    margin: 0 auto;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: 5px solid red;
    box-sizing: border-box;
}